@import "../shared/config";

main
{
  min-height: 100px;
  flex: 1 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;

  article
  {
    padding-bottom: 40px;
    flex: 1 1 100%;

    & > *,
    & > pre,
    pre[class*="language-"]
    {
      display: block;
      width: 100%;
    }

    code,
    code[class*="language-"],
    & > pre,
    pre[class*="language-"]
    {
      font-family: Monaco, Consolas, courier, monospace;
      font-size: 14px;
      text-shadow: none;
      white-space: pre-wrap;
    }

    pre:has(> code)
    {
      white-space: pre-wrap;
      overflow-x: auto;
      max-width: 100%;
      background-color: #222;
      padding: 10px;
    }

    & > pre,
    pre[class*="language-"]
    {
      border-radius: 0;
      padding: 10px 0;
    }
  }

  .pagebottomnav
  {
    &:after
    {
      content: '';
      display: block;
      clear: both;
    }

    & > a
    {
      display: inline-block;
      text-decoration: none;
      height: 30px;
      float: left;
      background-color: #e9e9e9;
      color: #4a4a4a;
      font-size: 14px;
      line-height: 20px;
      padding: 5px 20px;
      width: 120px;
      text-align: right;
      border-radius: 15px;
      margin-top: 30px;
      margin-bottom: 100px;
      position: relative;
      transition: background-color 0.15s;

      &:hover
      {
        background-color: #d9d9d9;
      }

      & .fa
      {
        color: #3BA1FA;
        position: absolute;
        font-size: 16px;
        top: 7px;
        left: 12px;
      }

      &.nextpage
      {
        text-align: left;
        float: right;

        & .fa
        {
          left: auto;
          right: 12px;
        }
      }
    }
  }

  @media( min-width: $desktop_width_min)
  {
    aside + article
    {
      flex: 1 1 calc(66.666% + 20px);
      max-width: calc(66.666% + 20px);
    }
  }
}
