@import "../shared/config";

body
{
  padding-top: 74px; /* space for header*/
}

header
{
  height: 74px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20; /* on top of main */
  font-family: "Barlow", Sans-Serif, Arial;
  background-color: #{$color_darkgrey};
  color: #fff;
  transition: top 0.5s;

  html.fixed-header &
  {
    position: fixed;
  }

  & a
  {
    font-family: inherit;
  }

  .centercontainer
  {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }

  & .logo
  {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 26px;
    height: 41px;
    line-height: 36px;
    font-weight: 500;
    white-space: nowrap;
    align-items: center;
    margin-right: 30px;

    & > span
    {
      display: inline-block;
      vertical-align: top;
      padding-top: 4px;

      & > small
      {
        font-weight: 200;
        font-size: inherit;
        line-height: inherit;
        padding-left: 5px;
        color: #{$color_linesgrey};
      }
    }

    & .icon
    {
      display: inline-block;
      width: 42px;
      height: 36px;
      margin-right: 10px;
      background: transparent url(../web/img/hare-white.png) no-repeat 0 0;
      background-size: contain;
    }
  }

  & #menuwrapper
  {
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1 1 100%;

      .contentmenu-toggle
    , .mobilemenu-toggle
    {
      color: #fff;
      position: absolute;
      top: 0;
      cursor: pointer;
      display: none;
      width: 48px;
      height: 100%;
      max-height: 64px;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s;

      @media( max-width: #{$mobile_width_max} )
      {
        width: 36px;
        max-height: 48px;
      }

      &:hover
      {
        background-color: #4a4a4a;
      }

      .icon
      {
        display: inline-block;
        width: 16px;
        position: relative;
      }
    }

    .contentmenu-toggle
    {
      right: 57px;

      html.contentmenu-show &
      {
        background-color: #4a4a4a;
      }

      @media( max-width: #{$mobile_width_max} )
      {
        right: 45px;
      }

      .icon
      {
        height: 14px;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;

        &::before
        {
          content: "";
          display: inline-block;
          height: 16px;
          top: -2px;
          left: 2px;
          border-left: 2px solid #3B3B3B;
          position: absolute;
        }

        &::after
        {
          content: "";
          display: inline-block;
          width: 12px;
          border-top: 2px solid #fff;
          position: absolute;
          top: 4px;
          left: 0;
        }
      }
    }


    .mobilemenu-toggle
    {
      right: 8px;

      .icon
      {
        height: 0;
        border-bottom: 2px solid #fff;
        transition: transform 0.2s;

        &::before, &::after
        {
          content: '';
          display: inline-block;
          width: 100%;
          height: 0;
          border-bottom: 2px solid #fff;
          position: absolute;
          top: -6px;
          transition: transform 0.2s;
        }

        &::after
        {
          top: 6px;
        }

        html.mobilemenu-show &
        {
          transform: rotate(45deg);

          &::before
          {
            transform: rotate(90deg) translate(6px, 0);;
          }

          &::after
          {
            transform: rotate(90deg) translate(-6px, 0);
          }
        }
      }
    }

    & #mobilemetanav
    {
      color: #fff;
      border-top: 1px solid #5A5A5A;
      margin: 0 22px;
      padding-left: 38px;
      padding-top: 5px;
      font-size: 14px;
      line-height: 20px;
      white-space: nowrap;
      display: none;

      & a
      {
        text-decoration: none;
        color: inherit;
        display: block;
        padding: 3px 10px 3px 30px;
        position: relative;
        margin-top: 15px;

        &:hover
        {
          text-decoration: underline;
        }

        &.support > span
        {
          display: inline-block;
          width: 15px;
          height: 15px;
          border: 1px solid #fff;
          border-radius: 100%;
          text-align: center;

          &::after
          {
            display: inline-block;
            content: '?';
            position: relative;
            top: -2px;
            font-size: 13px;
          }
        }

        & > span
        {
          display: inline-block;
          position: absolute;
          left: 0;
          top: 6px;
        }

      }
    }
  }

  & #menuwrapper__scrollcontainer
  {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

#topsearchform
{
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -17px;
  height: 34px;
  width: 35px;
  overflow: hidden;
  transition: width 0.3s;

  html.topsearch--active &
  {
    overflow: visible;
  }

  & button
  {
    display: block;
    cursor: pointer;
    font-size: 18px;
    width: 34px;
    height: 34px;
    padding: 0;
    margin: 0;
    text-align: right;
    background: transparent;
    border: 0 none;
    outline: none;
    position: absolute;
    color: #fff;
    left: 0;
    top: 0;
    transition: opacity 0.2s;

    html.topsearch--active &
    {
      color: #4a4a4a;
    }
  }

  & .close
  {
    width: 34px;
    height: 34px;;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    cursor: pointer;
    color: #4a4a4a;
    transition: color 0.15s;
    padding: 7px;
    font-size: 20px;

    &:hover
    {
      color: #000;
    }
  }

  & input
  {
    border: 1px solid #{$color_greyondark};
    background-color: #F8F8F8;
    font-size: 16px;
    line-height: 20px;
    height: 100%;
    width: 100%;
    -webkit-appearance: none;
    border-radius: 3px;
    outline: none;
    padding: 12px 50px 12px 0;
    opacity: 0;
    transition: all 0.3s;
    overflow: hidden;
  }

  & .wh-autocomplete-values
  {
    display: none;

    & li
    {
      padding-left: 50px;
    }
  }

  html.topsearch--active &
  {
    width: 50vw;

      & .wh-autocomplete-values
    , & .close
    {
      display: block;
    }

    & input
    {
      opacity: 1;
      padding-left: 50px;
    }
  }

  @media(min-width: #{$desktop_width_min})
  {
    & button:hover
    {
      opacity: 0.8;
    }
  }
}

#mainnav
{
  height: 74px;

  font-size: 18px;
  line-height: 30px;
  white-space: nowrap;
  transition: opacity 0.2s;
  font-weight: 200;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */

  & > ul
  {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  & > ul > li
  {
    display: inline-block;

    & > .children
    {
      display: none;
      overflow: hidden;
      width: 100%;
      height: 0;
      transition: height 0.2s;
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      margin-top: -1px; /* IE11 background render fix: 1px offset */
      height: 0;

      & ul
      {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      & li
      {
        text-transform: none;
        display: inline-block;
        padding: 3px 0;

        a
        {
          font-weight: 200;
          display: block;
        }
      }
    }
  }

  a
  {
    text-decoration: none;
    color: inherit;
    transition: color 0.15s;
  }

  & > ul > li > a
  {
    display: inline-block;
    padding: 26px 25px 18px;
    transition: background-color 0.15s;

    & .arrows
    {
      display: none;
    }
  }

    & > ul > li > a:hover
  , & > ul > li.active > a
  {
    background-color: #4A4A4A;
  }

  & .children li.active > a
  {
    font-weight: bold;
  }

  & .children a:hover
  {
    text-decoration: underline;
  }

}


@media( max-width: #{$tablet_width_max} )
{
  body
  {
    padding-top: 64px; /* space for header*/
  }

    html.mobilemenu-beforeshow
  , html.contentmenu-show
  {
    overflow: hidden;
  }

  header.navheader
  {
    background-color: #{$color_darkgrey};
    height: 64px;
    position: fixed;

    & .logo
    {
      color: #fff;
      font-size: 20px;

      & > .icon
      {
        margin-top: 4px;
        width: 36px;
        height: 32px;
      }
    }

    & #menuwrapper__scrollcontainer
    {
      width: 320px;
      height: calc(100% - 64px);
      position: absolute;
      margin-top: 64px;
      display: none;
      overflow-y: auto;
      overflow-x: hidden;
      background-color: #{$color_darkgrey};

      html.mobilemenu-beforeshow &
      {
        display: block;
        right: -320px;
        transition: right 0.2s;
      }

      html.mobilemenu-show &
      {
        right: 0;
      }
    }

    & #menuwrapper
    {
      position: absolute;
      top: 0;
      left: 0;

      html.mobilemenu-beforeshow &
      {
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10; /* on top of rf nav */

        &::before
        {
          content: '';
          display: block;
          position: fixed;
          top: 64px;
          left: 0;
          width: 100vw;
          height: 100vh;
          background-color: #000;
          opacity: 0;
          transition: opacity 0.2s;
        }
      }

      html.mobilemenu-show &
      {
        &::before
        {
          opacity: 0.7;
        }
      }

      & #mobilemetanav
      {
        display: block;
      }

      & #mainnav
      {
        bottom: auto;
        margin-top: 0px;
        height: auto;
        position: relative;
        width: 320px;
        left: 0;
        background-color: transparent;

        & > ul
        {
          padding-left: 22px;
        }

        & li
        {
          display: block;
        }

        & > ul > li
        {
          font-size: 16px;
          text-transform: uppercase;
          margin: 0;

          & > a
          {
            display: block;
            padding: 2px 0 2px 40px;
            position: relative;

            & .arrows
            {
              color: #f2f2f2;
              display: inline-block;
              position: absolute;
              top: 1px;
              font-size: 24px;
              left: 5px;
              transform-origin: 30% 60%;
              transition: transform 0.2s;
            }
          }

          &.showchildren .arrows
          {
            transform: rotate(90deg) translate(-5px, 4px);
          }

          & > .children
          {
            position: relative;
            display: block;

            & ul
            {
              padding: 0 0 0 35px;
            }
          }

          &.showchildren > .children
          {
            height: auto;
          }

          & li
          {
            font-size: 14px;
          }
        }
      }

      #topsearchform
      {
        width: auto;
        margin: 0;
        top: 0;
        position: relative;
        display: block;
        margin-bottom: 20px;
        height: 44px;
        overflow: visible;

        &::after
        {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: 22px;
          right: 22px;
          border-bottom: 1px solid #fff;
        }

        & .wh-autocomplete-values
        {
          display: block;
          padding-top: 0;
          border-radius: 0;

          & li
          {
            padding-left: 62px;
          }
        }

        & input
        {
          color: #fff;
          opacity: 1;
          border-radius: 0;
          width: 100%;
          background-color: transparent;
          border: 0 none;
          padding-right: 67px;
          padding-left: 62px;
        }

          &.suggestionsactive input
        , & input:focus
        {
          background-color: #f8f8f8;
          color: #000;
        }

          &.suggestionsactive button
        , & input:focus + button
        {
          color: #{$color_link};
          opacity: 1;
        }

        & .close
        {
          display: none;
        }

        & button
        {
          left: auto;
          padding-top: 10px;
          text-align: left;
          right: 7px;
          color: #fff;
          opacity: 0.8;
        }
      }

        html.mobilemenu-show & #mainnav
      , html.mobilemenu-show & .header__topright
      {
        display: block;
      }

      .contentmenu-toggle
      {
        display: flex;
      }

      .mobilemenu-toggle
      {
        display: flex;

        html.mobilemenu-show & .open
        {
          display: none;
        }

        html.mobilemenu-show & .close
        {
          display: inline-block;
        }
      }
    }
  }

  #mainnav, .header__topright
  {
    display: none;
  }
}

@media( max-width: #{$mobile_width_max} )
{
  body
  {
    padding-top: 48px; /* space for header*/
  }

  header.navheader
  {
    height: 48px;

    & .logo
    {
      & > .icon
      {
        margin-top: 6px;
        width: 28px;
        height: 25px;
      }
    }

    & #menuwrapper
    {
      & #menuwrapper__scrollcontainer
      {
        height: calc(100% - 48px);
        margin-top: 48px;
      }

      html.mobilemenu-beforeshow &::before
      {
        top: 48px;
      }
    }
  }
}

