  .wh-form__dateinputgroup
, .wh-form__timeinputgroup
{
  display: flex;
  flex-flow: row;
  align-items: baseline;
  border: 1px solid #999;
  transition: all 0.3s;
  border-radius: 2px;
  height: 38px;
  padding: 0;

  &:focus, &:hover, &.focus
  {
    border-color: #999;
    outline: none;
  }

  &__line
  {
    display: inline-flex;
    position: relative;
    width: 45px;
    height: 100%;
    white-space: nowrap;

    input
    {
      border: 0 none !important;
      min-height: 30px !important;
      width: 100%;
      max-width: 100%;
      height: 100% !important;
      padding: 0 8px !important;
      text-align: center;

        &::-webkit-outer-spin-button
      , &::-webkit-inner-spin-button
      {
        -webkit-appearance: none;
        margin: 0;
      }

      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: textfield !important;
    }

    &.year
    {
      width: 60px;
    }

    &:after
    {
      display: block;
      padding: 0 3px;
      position: absolute;
      right: -5px;
      top: 6px;
      z-index: 1;
      font-size: 16px;
    }

    &:last-child:after
    {
      display: none;
    }
  }
}

  .wh-form__fieldgroup--error .wh-form__dateinputgroup
, .wh-form__fieldgroup--error .wh-form__timeinputgroup
{
  border-color: #cd202c;
}

  input[disabled] + .wh-form__dateinputgroup
, input[disabled] + .wh-form__timeinputgroup
, input[disabled] + .wh-form__dateinputgroup:hover
, input[disabled] + .wh-form__timeinputgroup:hover
, input[disabled] + .wh-form__dateinputgroup.focus
, input[disabled] + .wh-form__timeinputgroup.focus
{
  padding: 1px;
  border: 1px solid #cbcbcb;
}

.wh-form__dateinputgroup__line
{
  &:after
  {
    content: "/";
  }
}

.wh-form__timeinputgroup__line:after
{
  top: 6px;
  content: ":";
}
