:host
{
  font:10px/20px Helvetica, Arial;
  display:none;
  position:fixed;
  top:0px;
  left:calc(100% - 220px);
  height: 25px;
  line-height: 15px;
  width:125px;
  text-align: left;
  box-sizing:border-box;
  overflow: hidden;
  padding: 5px;
  z-index:999999998;

  box-shadow: 0 0 2px rgba(0,0,0,.5);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background:#ffffff;
  color:#000000;
  opacity:.3;
  transition: all .2s;
  cursor: pointer;
  user-select: none;
}
:host(:hover)
{
  box-shadow: 0 0 5px rgba(0,0,0,.8);
  opacity: 1;
  height: auto;
}
wh-outputtool.wh-outputtool
{
  height: 15px;
  display:block;
  white-space:nowrap;
}
wh-outputtool.wh-outputtool + wh-outputtool.wh-outputtool
{
  margin-top: 5px;
}
wh-outputtool.wh-outputtool__assetstatus
{
  padding: 0 2px;
}
wh-outputtool.wh-outputtool__assetstatus-unknown
{
  background: #9999ff;
}
wh-outputtool.wh-outputtool__assetstatus-ok
{
  background: #99ff99;
}
wh-outputtool.wh-outputtool__assetstatus-outdated
{
  background: #70ba70;
}
wh-outputtool.wh-outputtool__assetstatus-compiling
{
  background: #ffff99;
}
wh-outputtool.wh-outputtool__assetstatus-errors
{
  background: #ff9999;
}
wh-outputtool.wh-outputtool__assetstatus:before
{
  content:"Assets: ";
}
wh-outputtool.wh-outputtool__pagereload
{
  position: absolute;
  top: 1px;
  right: 7px;
  width: 10px;
  height: 12px;
  margin: 0px;
}
wh-outputtool.wh-outputtool__pagereload-scheduled
{
  animation-name: wh-outputtool-rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
wh-outputtool.wh-outputtool__pagerepublishreload
{
  position: absolute;
  top: 20px;
  right: 7px;
  width: 10px;
  height: 12px;
  margin: 0px;
}
wh-outputtool.wh-outputtool__pagerepublishreload-scheduled
{
  animation-name: wh-outputtool-rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
wh-outputtool.wh-outputtool__filestatus
{
  padding: 0 2px;
}
wh-outputtool.wh-outputtool__filestatus-unknown
{
  background: #9999ff;
}
wh-outputtool.wh-outputtool__filestatus-na
{
  background: #9999ff;
}
wh-outputtool.wh-outputtool__filestatus-ok
{
  background: #99ff99;
}
wh-outputtool.wh-outputtool__filestatus-outdated
{
  background: #70ba70;
}
wh-outputtool.wh-outputtool__filestatus-compiling
{
  background: #ffff99;
}
wh-outputtool.wh-outputtool__filestatus-warnings
{
  background: #ff6600;
}
wh-outputtool.wh-outputtool__filestatus-errors
{
  background: #ff9999;
}
wh-outputtool.wh-outputtool__filestatus:before
{
  content:"File: ";
}

wh-outputtool.wh-outputtool__resstatus
{
  padding: 0 2px;
}
wh-outputtool.wh-outputtool__resstatus-ok
{
  background: #99ff99;
}
wh-outputtool.wh-outputtool__resstatus-modified
{
  background: #70ba70;
}
wh-outputtool.wh-outputtool__resstatus:before
{
  content:"Resources: ";
}

wh-outputtool.wh-outputtool__cssreload input
{
  cursor: pointer;
}
wh-outputtool.wh-outputtool__hidetools
{
  text-align: right;
}
wh-outputtool.wh-outputtool__hidetools span
{
  cursor: pointer;
  text-decoration: underline;
}
wh-outputtool.wh-outputtool__hidetools:hover
{
  color:#007700;
}

@keyframes wh-outputtool-rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}


//Hide our controls in print versions
@media print
{
  wh-outputtools, wh-outputtools-info
  {
    display:none !important;
  }
}
