html
{
  background-color: #ffffff;
  color: #000000;

  margin:20px;
}

h1
{
  margin: 10px 0;
}
h2
{
  margin: 7px 0;
}

.devsite__path
{
  margin: 0 0 20px 0;
}
.devsite__pathitem
{
  margin:0 0 0 0;
  padding:0;
  display:inline;
}
.devsite__pathitem + .devsite__pathitem:before
{
  content: " > ";
}
.devsite__pathlink
{
  color: blue;
  text-decoration:none;
}
.devsite__pathlink:hover
{
  text-decoration:underline;
}
